<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEditing ? 'Editar Vacuna' : 'Agregar Vacuna' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="vaccuneForm" (ngSubmit)="saveVaccune()">
    <!-- Nombre de la Vacuna -->
    <ion-item>
      <ion-label position="floating">Nombre de la Vacuna</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <!-- Fecha de Vacunación -->
    <ion-item>
      <ion-label position="floating">Fecha de Vacunación</ion-label>
      <ion-input type="date" formControlName="vaccinationDate"></ion-input>
    </ion-item>

    <!-- Descripción -->
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input formControlName="description"></ion-input>
    </ion-item>

    <!-- Cargar Documento PDF -->
    <ion-item>
      <ion-label position="floating">Documento PDF</ion-label>
      <ion-input type="file" (change)="onFileSelected($event)"></ion-input>
    </ion-item>

    <!-- Botón de envío -->
    <ion-button expand="block" type="submit" [disabled]="vaccuneForm.invalid">
      {{ isEditing ? 'Actualizar Vacuna' : 'Registrar Vacuna' }}
    </ion-button>
  </form>

  <!-- Listar Archivos Subidos -->
  <ion-list>
    <ion-item *ngFor="let file of files">
      <ion-label>{{ file.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
