<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form>
        <!-- Ícono de Home que redirige a la página de inicio mediante la función -->
        <ion-row>
          <ion-col>
            <ion-icon name="home" size="large" (click)="goHome()"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-avatar [control]="Image" [disable]="true" [onlyview]="true"></app-avatar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input [control]="Name" label="Name:" type="text" [disable]="true"></app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input [control]="Lastname" label="LastName:" type="text" [disable]="true"></app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input [control]="Age" label="Age:" type="number" [disable]="true"></app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input [control]="Phone" label="Phone:" type="tel" [disable]="true"></app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input [control]="Email" label="Email:" type="email" [disable]="true"></app-input>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
